<div class="two-column-grid">
  <a class="card border-secondary text-secondary" href="#">
    <div class="card-header">Easy</div>
    <div class="card-body">
      <p class="card-text">You're 25% funny and 85% bad at math.</p>
    </div>
  </a>
  <a class="card border-info text-info" href="#">
    <div class="card-header">Medium</div>
    <div class="card-body">
      <p class="card-text">You did well in math but checking your calculator gives you a sense of peace.</p>
    </div>
  </a>
  <a class="card border-success text-success" href="#">
    <div class="card-header">Hard</div>
    <div class="card-body">
      <p class="card-text">You solve integrals in your sleep and BEDMAS is your middle name.</p>
    </div>
  </a>
  <a class="card border-danger text-danger" href="#">
    <div class="card-header">Impossible</div>
    <div class="card-body">
      <p class="card-text">You grew up in China.</p>
    </div>
  </a>
</div>
