.question {
  &-container {
    display: inline-flex;
    align-items: baseline;
  }

  &-input {
    width: 3.5rem;
    text-align: center;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }
}

.answered {
  background: #c6ffc6;
}
